@model List<PracticaMVC.Net.Dominio.Entidades.Producto>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var producto in Model)
            {
                <tr>
                    <td>@producto.Descripcion</td>
                    <td>@producto.Precio</td>
                    <td><button class="btn btn-primary">Eliminar</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

